<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apollo Chat</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!--Container for application title-->
    <div class="titleHeader">
        <h1><a href="index.html">Apollo</a></h1>
    </div>
    
    <!--Container for user interface-->
    <div class="interface">
        <h1 id="userGreeting">Welcome back, <%= userVal%>!</h1>

        <!--Container for friends list-->
        <div id="friendContainer">
            <div id="friendsList">
                <h3>Friends list</h3>
                <ul>
                    <!--forEach loop to display friend data-->
                    <%if (fList) {%>
                        <%fList.forEach(function(friend) { %>
                            <li><a href="/chat"><%= friend.User_id%> <%= friend.Username%></a></li>
                        <% }); %>
                    <%}%>
                </ul>
            </div>
            <!--Button to call friend request form-->
            <button id="friendReqButton">Send Friend Request</button>
        </div>
        
        <!--Container for groups joined-->
        <div id="groupContainer">
            <div id="groups">
                <h3>Groups</h3>
                <ul>
                    <!--forEach loop to display group data-->
                    <%if (gList) {%>
                        <%gList.forEach(function(group) { %>
                            <li><a href="/chat"><%= group.Group_id%> <%= group.Group_name%></a></li>
                        <% }); %>
                    <% } %>
                </ul>
            </div>
            <!--Button to call create group form-->
            <button id="createGroupButton">Create Group</button>
        </div>
        
        <form method="POST" id="friendForm" style="display: none;">
            <label for="friendId">Enter your friend's id here:</label>
            <input type="text" id="friendId"></form>
            <input type="submit" id="friendIdButton" style="display:none;"> 
        </form>

        <form method="POST" id="groupForm" style="display: none;">
            <label for="groupName">Enter your group's name here:</label>
            <input type="text" id="groupName"></form>
            <input type="submit" id="groupNameButton" style="display:none"> 
        </form>
    </div>

    <script>

        const userGreeting = document.getElementById('userGreeting');

        const friendReqButton = document.getElementById('friendReqButton');
        const createGroupButton = document.getElementById('createGroupButton');

        const groupNameButton = document.getElementById('groupNameButton');
        const friendIdButton = document.getElementById('friendIdButton');
        const friendForm = document.getElementById('friendForm');
        const groupForm = document.getElementById('groupForm');

        // Event listener for the createGroupButton
        createGroupButton.addEventListener('click', (event) => {
            // If the group name form and button are hidden, display them
            if (groupForm.style.display == 'none' || groupNameButton.style.display == 'none') {
                // If the friendReqButton is active, remove its form and submit button
                if (friendForm.style.display == '' || friendIdButton.style.display == '') {
                    friendForm.style.display = 'none';
                    friendIdButton.style.display = 'none';
                }

                groupForm.style.display = '';
                groupNameButton.style.display = '';
            }

            // If the user clicks the createGroupButton and its form and submit button are visible, hide them
            else {
                groupForm.style.display = 'none';
                groupNameButton.style.display = 'none';
            }
        });

        // Event listener for the friendReqButton
        friendReqButton.addEventListener('click', (event) => {
            // If the friend id form and submit button are hidden, display them
            if (friendForm.style.display == 'none' || friendIdButton.style.display == 'none') {
                // If the createGroupButton is active, remove its form and submit button
                if (groupForm.style.display == '' || groupNameButton.style.display == '') {
                    groupForm.style.display = 'none';
                    groupNameButton.style.display = 'none';
                }

                friendForm.style.display = '';
                friendIdButton.style.display = '';
            }
            
            // If the user clicks the friendReqButton and its form and submit button are visible, hide them
            else {
                friendForm.style.display = 'none';
                friendIdButton.style.display = 'none';
            }
        });

    </script>
</body>
</html>